.chat-zone
  .header
    .header-left
      .header-left-group-name
        = @group.name
      .member 
        #text member：
        .member__list
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .header-edit
      = link_to "Edit",edit_group_path(@group)
      -# do"/groups/#{@group}/edit"
      
  .messages
    = render @messages
    
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image, class: 'form__mask__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'