.side-bar
  .bar-header
    .header-items
      %p.header-items__name
        = current_user.name
      %ul.header-items__icon
        %li.list
        = link_to "#", class: "icon__btn" do
          = icon('fas', 'edit')
        %li.list
        = link_to edit_user_path(current_user), class: "icon__btn" do
          = icon('fas', 'cog')

  .group-lists
    .list
      %p.list__name kato
      %p.list__message こんにちは
      %p.list__name kato
      %p.list__message こんにちは
